@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Imbue:opsz,wght@10..100,100..900&family=Poppins:ital,wght@1,100;1,200&family=Roboto:wght@100&display=swap');

*{
    margin: 0%;
    padding: 0;
    box-sizing:border-box ;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

body{
    width: 100%;
    height: 100vh;
    background-color: #1B4242;
    background: linear-gradient(to right bottom, #116D6E, #092635 );
    display: grid;
    color: #fff;
    place-items: center;
    
}

.container{
    width: 80%;
    max-width: 850px ;
    padding: 30px;
    text-align: center;
    display: none;
}

.container h1{
    font-size: 36px;
    margin-bottom: 40px;
    text-decoration: underline;
    text-underline-offset: 8px;
    
}

.container .question{
    font-size: 26px;
    margin-top: 20px;
}

.container .choices{
    margin-top: 20px;

}

.choice{
    font-size: 20px;
    background-color: white;
    color: black;
    margin: 10px auto;
    border-radius: 5px;
    text-align: left;
    width: 60%;
    cursor: pointer;
    opacity: 0;
    transform: translateY(50%);
    animation: fade-in 0.5 ease forwards;
}

.choice:hover{
    background-color: #4fe2ed;
    
}

.btn{
    width: 60%;
    font-size: 20px;
    padding: 12px 20px;
    font-weight: 600;
    margin: 20px auto 0 auto;
    background-color: #22aa22;
    border: none;
    border-radius: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{ 
      background-color: #48d94d;
}

.choice.selected{
    background-color: #007bff;
    color:white;
}
 
.scoreCard{
    margin: 20px;
    font-size: 24px;

}

.alert{ 
    background-color: #14151b;
    border-radius: 5px;
    width: 100%;
    padding: 12px;
    position: absolute; 
    top: 0;
    display: none;
    font-size: 26px;
}

.startBtn{
    width: 15%;
    padding-block: 20px;
    text-align: center;
     
}

.timer{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: #092635;
    font-size: 24px;
    font-weight: 600;
    border: 2px solid red;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse 1s ease-in-out infinite;
    box-shadow: #14151b 10px;
}
/* Adding animation to timer */
@keyframes pulse{
    0%{
        transform: scale(1);   
    }
    50%{
        transform: scale(1.2);   
    }
    100%{
        transform: scale(1);   
    }
}
/* Adding animation to choices */
@keyframes fade-in {
    0%{
        opacity: 0;
        transform: translateY(50%);

    }
    100%{
        opacity: 1;
        transform: translateY(50%);

    }

}

@media screen and (max-width: 900px)
{
    .container{
        width: 100%;
        margin-top: 50px;

    }
    .container h1{
        font-size: 24px;

    }
    .container question {
        font-size: 22px;
    }

    .timer{
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
    .startBtn{
        width: 50%;
    }

}
